body{
    background-color: transparent;
}
.one{
   
}
.fotterdash{
    background-color:black;
    height: inherit;
}
#clickhere{
    text-decoration: none;
    background-color:rgba(0, 0, 255, 0.925);

}
#clickhere:hover{

    background-color:rgba(0, 0, 255, 0.76);
    color: white;
    font-size: 1em;

}



.new2{
      
    width: 100%;
    height: 60vh;
    background-color: rgb(212, 7, 7);
    background-image: linear-gradient(180deg, rgb(73, 68, 68), rgb(170, 170, 110));
}
.dashboad11{
    background: url("../images/school.jpg");
    float: left;
    height: 50em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 
}
.left{
    background-color: rgba(15, 31, 179, 0.63);
    width: 20%;
    float: left;
    height: 100%;
}
.right1{
    width: 80%;
    height: 100%;
    float:  left;
    background-size: 100%;    
    margin-top: -6px;
    background-repeat: no-repeat;
    background-size: 100%;    
    
}

.dashMain{
    width: 110%;
    height: 85%;
    background-color: rgba(50, 51, 63, 0);
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 6%;
 
    padding: -1em;
}

.Userdetail{
    font-size: 1.2em;
    color: rgb(255, 255, 255);
    float: left;
    margin-left: 3em;
    margin-top: -3em;
    font-family: 'Times New Roman', Times, serif;    

}



.dashBox1{
    float: left;
    margin-top: 3em;
    width: 30%;
    height: 20em;
    margin-left: 10%;
    background-color: rgba(45, 45, 58, 0.959);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border: 2px solid #0b0283;
    border-radius: 1em;
}
.dashBox2{
    float: right;
    margin-top: 3em;
    width: 30%;
    height: 20em;
    margin-right: 20%;
    background-color: rgba(45, 45, 58, 0.959);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border: 2px solid #0b0283;
    border-radius: 1em;
}

.mainhead{
    margin-top: 0.6em;
    color: cornsilk;
    text-align: center;
    font-size: 2em;

}
.mainPara{
    color: rgb(156, 141, 156);
    padding: 0.8em;
    text-align: justify;
}
.userD{
    padding-top: 3em;
    float: left;
    width: 30%;
}
.left-bar-dashboard1{
    color: rgba(0, 2, 136, 0.767);
    background-color: rgba(255, 255, 255, 0.712);
    width: 70%;
    border-radius:  8px  8px 8px  8px;
    margin-right: 10px;
    padding: 20px;
    margin-left: 10%;
    margin-top: 10%;
    text-align: center;
    font-weight: bold;
    font-size:1.2vw;
}
.left-bar-dashboard1:hover{
    
    background-color: rgba(74, 80, 78, 0.61);
    
}
.left-bar-paths1{
    width: 90%;
    height: 200px;
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 10;
    
}
.left-bar-button1{
    border-radius:  6px ;
    float: right;
    margin-right: 10%;
    font-weight: bold;
    color: rgb(255, 255, 255);
   background-color: rgba(214, 214, 214, 0.308);
   padding:5% 5% 5% 5%;
   margin-bottom: 6px;
   width: 70%;
   text-align: center;
   font-size:1vw;
}
.left-bar-button1:hover{
    border-radius:  6px ;
    float: right;
    margin-right: 10%;
    font-weight: bold;
    color: black;
   background-color: rgba(57, 129, 223, 0.658);
   padding:5% 5% 5% 5%;
   margin-bottom: 6px;
   width: 70%;
   text-align: center;
   font-size:1vw;
}





.left-dash-img1{
   
    color: black;
    background: url("../images/school.jpg");
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    float: left;
    margin-top: 52%;

    
}

.img1:hover {
    scale: 1.02;
    filter: brightness(0.8);
    transition: scale 300ms ease-in;
  }
.section2-middle-box11{
    width: 30%;
    height: auto;
    background-color: rgba(180, 162, 154, 0.479);
    border: 2px solid rgb(0, 2, 95);

    margin-left: 10%;
    border-radius: 10px;
    margin-top: 8%;
    padding-bottom: 2em;
}
.section2-middle-h1{
    margin-top: 1em;
    margin-left: 10%;
    margin-bottom: 0em;
    color: rgb(3, 4, 88);
}
.section2-middle-h22{
    color: rgb(0, 0, 0);
    margin-left: 10%;
    padding-top: 10%;
    font-size: 2em;
}
.section2-middle-p11{
    color: rgb(0, 0, 0);
    margin-left: 10%;
    padding-top: 10%;
}

.section2-middle-p2{
    color: white;
    margin-left: 10%;
    padding-top: 10%;
    width: auto;
}
.section1-right-h11{
    color: rgb(0, 0, 0);
     background-color: transparent;
     margin-left: 2%;


}
.helpcont{
    margin-top: 2em;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    height: 2em;
}
.hrwelcome{
    width: 10em;
    background-color: white;
    float :left;
    margin-left: 10%;
    margin-top: -2em;
    height: 0.1em;
}
.helpp{
    float: left;
    margin-left: 15%;
    font-size: 1.5em;
    color: rgb(0, 0, 0);
}
.helpbtn{
    background-color: cornflowerblue;
    float: right;
    margin-right: 15%;
    margin-top: 0.2em;
    border-radius: 1em;
   

}
.section1-right-p1{
   
    margin-left: 10%;
    padding-top: 10px;
    font-size: 2em;
    font-weight: bold;

}
.re-Total1{
    width: 20%;
    height: 80px;
    background-color: rgba(83, 112, 175, 0.747);
    margin-left: 5%;
    background-image: url("../images/groups.png");
    background-repeat: no-repeat;
    background-size: 40%;
    border: 2px solid #000000;
    float: left;
}
.re-to1-p1{
    padding-right:10% ;
    text-align: right;
    color: white;
    padding-top: 1%;
}
.re-to1-p2{
    padding-right:5% ;
    text-align: right;
    color: white;
    font-size: 1em;
}
.re-Total2{
    width: 20%;
    height: 80px;
    background-color: rgba(45, 185, 52, 0.747);
    margin-left: 5%;
    background-image: url("../images/groups.png");
    background-repeat: no-repeat;
    background-size: 40%;
    border: 2px solid #000000;
    float: left;
}
.re-Total3{
    width: 20%;
    height: 80px;
    background-color: rgba(218, 221, 41, 0.747);
    margin-left: 5%;
    background-image: url("../images/groups.png");
    background-repeat: no-repeat;
    background-size: 40%;
    border: 2px solid #000000;
    float: left;
}
.second-content1{
  
    background: url("../images/second-content.jpg") no-repeat 0 50%;
    width: 100%;
    float: left;
    height: 50em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  
}


.reg-name{
    font-size: 1.5em;
   
    color: rgb(252, 252, 252);
    font-weight: bold;

}
.section2-middle{
    background-color: rgb(58, 56, 59);
    width: 100%;
    float: left;
    height: 600px;
}
.second2{
    background-color: burlywood;
    width: 100%;
}
.right-content1{
    margin-top: 0%;
    height: 200px;
    width: 100%;
    background-color: rgba(3, 3, 3, 0.836);
 
}
.Schooname1{
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-size: 3rem;
    text-align: center;
    margin-top: 0.1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.right-content2{
    
    margin-top: 0%;
    height: 200px;
    width: 100%;
    background-color: rgba(3, 3, 3, 0.973);
}
@media screen and (max-width: 768px) {
    .dashboad11{
        background: url("../images/school.jpg");
        width: 100%;
        float: left;
        height: 80em;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
     
    }
    
    .dashMain{
        width: 130%;
        height: 100%;
        background-color: rgba(155, 11, 100, 0);
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 10%;
        padding: -2em;
    }
    

.dashBox1{
    float: left;
    margin-top: 1em;
    width: 80%;
    height: 20em;
    margin-left: 10%;
    background-color: rgba(45, 45, 58, 0.959);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border: 2px solid #0b0283;
    border-radius: 1em;
}
.dashBox2{
    float: left;
    margin-top: 4em;
    width: 80%;
    height: 20em;
    margin-left: 10%;
    background-color: rgba(45, 45, 58, 0.959);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border: 2px solid #0b0283;
    border-radius: 1em;
}

.mainhead{
    margin-top: 0.6em;
    color: cornsilk;
    text-align: center;
    font-size: 2em;

}
.mainPara{
    color: rgb(156, 141, 156);
    padding: 0.8em;
    text-align: justify;
}

.userD{
    padding-top: 1em;
    float: left;
    width: 80%;
    margin-top: 2.2em;
}
    .Schooname1{
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 0.1em;
        font-size: 2rem;
        text-align: center;
        margin-top: 1em;
        margin-left: 18%;
    }
    .section2-middle-box11{
        width: 80%;
        height: auto;
        background-color: rgba(180, 162, 154, 0.479);
        border: 2px solid rgb(0, 2, 95);        margin-left: 10%;
        border-radius: 10px;
        padding-bottom: 2em;
        padding-right: 2em;
    }
    .section2-middle-h1{
        margin-top: 1em;
        margin-left: 10%;
        margin-bottom: 0em;
        color: rgb(3, 4, 88);
    }
    .section2-middle-h22{
        color: rgb(0, 0, 0);
        margin-left: 10%;
        padding-top: 10%;
        font-size: 2em;
    }
    .section2-middle-p1{
        color: white;
        margin-left: 10%;
        padding-top: 10%;
        margin-right: 2em;
    }
    
    .section2-middle-p2{
        color: white;
        margin-left: 10%;
        padding-top: 10%;
        width: auto;
    }
    .section1-right-h11{
        color: rgb(0, 0, 0);
         background-color: transparent;
         margin-left: 2%;
    
    
    }
    .section1-right-p1{
       
        margin-left: 10%;
        padding-top: 10px;
        font-size: 2em;
        font-weight: bold;
    
    }
  }


  .fotter-main{
      background-color: black;
  }