.Heading{
    background-image: url("../images/home-background1.jpg");
    height: 92vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .Heading-h{
      color: rgb(27, 16, 192);
      font-family: poppins;
      font-weight: bolder;
      padding-top: 40px;
      font-size: 3em;
      margin-top: 0;
      text-align: justify;
      margin-left: 20px;
 
  }
.navbar{
    height: 40px;
}
.two{
    background-color: rgba(194, 194, 184, 0.438);
}
  .navbarheader{
    font-size: 1.8em;
  }

  .Heading-safe1:hover {
      scale: 1.02;
      filter: brightness(0.8);
      transition: scale 300ms ease-in;
    }
  .Heading-p1{
      font-family: poppins;
      font-weight: bolder;
      padding-top: 20px;
      font-size: 2.5em;
      margin-top: 0;
      text-align: justify;
      margin-left:10%;
      color: white;
  }
  .Heading-p2{
      font-family: poppins;
      font-weight: bolder;
      padding-top: 0px;
      font-size: 2.5em;
      margin-top: 0;
      text-align: justify;
      margin-left:30%;
      color: white;
  }
  .Heading-p3{
      font-family: poppins;
      font-weight: bolder;
      padding-top: 0px;
      font-size: 2.5em;
      margin-top: 0;
      text-align: justify;
      margin-left:40%;
      color: white;
  }
  
  
  .img-main1{
     
    
      margin-top: 20px;
      width: 20em;
      height: 40vh;
      float: left;
      margin-left: 5%;
      
  }
  
  .img-main1:hover {
      scale: 1.02;
      filter: brightness(0.8);
      transition: scale 300ms ease-in;
    }
  .second{
      
      background-image: url("../images/home-second.jpg");
      height: 92vh;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  
  }
  .second1{
      float: left;
      
      
  
  }
  .second2{
     
      margin-top:0%;
      width: 80%;
      margin-right: 10%;
      margin-left: 10%;
    
  }
  .second2-components2{
      width: 10%;
      margin-top:5%;
      background-color: rgba(255, 255, 255, 0);
      color: rgb(29, 11, 190);
      text-align: center;
      float: left;
      margin-left: 10%;
      font-weight: bold;
      font-size: 1.5em;
      font-family: poppins;
  
  }
  .second2-content-mid-p3{
     
      background-color: rgba(255, 255, 255, 0);
      color: rgb(0, 0, 0);
     
  
      font-weight: bold;
  }
  
  
  .second1-content-h1{
          color: rgb(3, 3, 5);
          font-family: poppins;
          font-weight: bolder;
          padding-top: 0px;
          font-size: 2em;
          margin-top: 20px;
          padding-top: 0px;
          text-align: left;
          margin-left: 10%;
  }
  
  .second1-content-mid-p2{
      width: 40%;
      margin-top: 40px;
      background-color: rgba(255, 255, 255, 0);
      color: rgb(0, 0, 0);
      text-align: justify;
      float: left;
      margin-left: 5%;
  }
  
  
  
  
  .third{
      background-image: url("../images/home-third.jpg");
      height: 92vh;
      
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  
  }
  
  .third1{
      width: 100%;
      height: 60px;
      background-color: rgba(100, 102, 107, 0.623);
     
  }
  .third-content-h2{
      color: rgb(5, 5, 7);
      font-family: poppins;
      font-weight: bolder;
      padding-top: 0px;
      font-size: 3em;
      margin-top: 18%;
      padding-top: 10px;
      text-align: left;
      margin-left: 5%;
  }
  .third-content-mid-p1{
    width: 40%;
    margin-top: 5%;
    background-color: rgba(255, 255, 255, 0);
    color: black;
    text-align: center;
    float: left;
    margin-left: 8%;
    font-size: 1.5em;
}
  #third-button1{
      float: right;
      margin-right: 26%;
      margin-top: 4%;
      font-size: 1.5em;
    
      color: rgb(255, 255, 255);
 
      padding: 10px;
      padding-left: 1.5em;
 
      text-align: center;
      text-decoration: none;

      
     
      
      width:8em;
      display: flex;
      flex-wrap: wrap;
    
      
      
  }
  #third-button1:hover {
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
      color: rgb(241, 241, 241);
     background-color: rgba(0, 0, 205, 0.842);
      text-decoration: none;

     }
  
  .welcome-head{
     
      width: 100%;
      height: 60px;
      background-color: rgba(75, 64, 64, 0.692);
     
  }
  .welcome-content{
      
      width: 100%;
      height: 60vh;
      background-color: rgba(65, 52, 52, 0.473);
      background-image: linear-gradient(180deg, rgb(73, 68, 68), rgb(170, 170, 110));
  }
  .welcome-h1{
          color: rgb(0, 0, 0);
          font-family: poppins;
          font-weight: bolder;
          padding-top: 0px;
          font-size: 2em;
          margin-top: 0;
          padding-top: 10px;
          text-align: justify;
          margin-left: 10px;
      }
      .welcome-content-h1{
          color: rgb(19, 6, 192);
          font-family: poppins;
          font-weight: bolder;
          padding-top: 0px;
          font-size: 2em;
          margin-top: 0;
          padding-top: 10px;
          text-align: left;
          margin-left: 20%;
      }
  .welcome-content-mid-p2{
      width: 40%;
    
      margin-top: 70px;
      background-color: rgba(255, 255, 255, 0);
      color: black;
      text-align: justify;
      float: right;
      margin-right: 20%;
  }
  #btn{
      background-color: rgba(55, 92, 18, 0);
      width: 100px;
      color: black;
      margin-left: 0;
      margin-right: 0;
      padding: 0;
      padding-left: 0;
      padding-right: 0;
      font-size: 1em;
      margin-bottom: 1em;
  }

  #homebtn{
      color: #000000;
      margin-top: -1em;
  }
  
  #btn:hover{
    background-color: rgba(55, 92, 18, 0);
    width: 100px;
    color: rgb(11, 8, 238);
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    padding-left: 0;
    padding-right: 0;
    font-weight: bold;
}
.Heading-safe1{
    margin-right: 60px;
    float: right;
    width: 20%;
    height: 260px;
    background-color: rgba(75, 64, 64, 0.466);
    border-radius: 10px;
   
}



@media screen and (max-width: 1175px) {
    .img-main1{
     
       background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    
        margin-top: 20px;
        width: 15em;
        height: 30vh;
        float: left;
        margin-left: 4%;
        
    }
    .Heading-h{
        color: rgb(11, 8, 238);
        font-family: poppins;
        font-weight: bolder;
        padding-top: 40px;
        font-size: 2em;
        margin-top: 0;
        text-align: justify;
        margin-left: 20px;
   
    }
    .welcome-content-h1{
        color: rgb(19, 6, 192);
        font-family: poppins;
        font-weight: bolder;
        padding-top: 0px;
        font-size: 2em;
        margin-top: 0;
        padding-top: 10px;
        text-align: left;
        margin-left: 20%;
    }
.welcome-content-mid-p2{
    width: 80%;
  
    margin-top: 70px;
    background-color: rgba(255, 255, 255, 0);
    color: black;
    text-align: justify;
    float: right;
    font-size: 0.8em;
    margin-right: 10%;
}
.second1-content-mid-p2{
    width: 80%;
    margin-top: 40px;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(0, 0, 0);
    text-align: justify;
    float: left;
    font-size: 0.8em;
    margin-left: 5%;
}

.second2-components2{
    width: 10%;
    margin-top:5%;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(29, 11, 190);
    text-align: center;
    float: left;
    margin-left: 3%;
    font-weight: bold;
    font-size: 1em;
    font-family: poppins;

}
.third-content-mid-p1{
    width: 80%;
    margin-top: 5%;
    background-color: rgba(255, 255, 255, 0);
    color: black;
    text-align: center;
    float: left;
    margin-left: 8%;
    font-size: 1em;
}  .third-content-h2{
    color: rgb(5, 5, 7);
    font-family: poppins;
    font-weight: bolder;
    padding-top: 0px;
    font-size: 2em;
    margin-top: 18%;
    padding-top: 10px;
    text-align: left;
    margin-left: 5%;
}


}

@media screen and (max-width: 800px) {
    .img-main1{
     
       display: none;
        
    }
  #third-button1{
      float: right;
      margin-right: 26%;
      margin-top: 5%;
      font-size: 1.5em;
    
      color: rgb(255, 255, 255);
 
      padding: 10px;
      padding-left: 1.5em;
 
      text-align: center;
      text-decoration: none;

      
     
      
      width:8em;
      display: flex;
      flex-wrap: wrap;
    
      
      
  }
    .second1-content-mid-p2{
        width: 80%;
        margin-top: 40px;
        background-color: rgba(255, 255, 255, 0);
        color: rgb(0, 0, 0);
        text-align: justify;
        float: left;
        margin-left: 5%;
    }
    
    .Heading-safe1{
        margin-right: 60px;
        float: right;
        width: 45%;
        height: 230px;
        background-color: rgba(75, 64, 64, 0.178);
        border-radius: 10px;
       
    }
    .Heading-p1{
        font-family: poppins;
        font-weight: bolder;
        padding-top: 20px;
        font-size: 2em;
        margin-top: 0;
        text-align: justify;
        margin-left:10%;
        color: white;
        font-family: poppins;
        font-weight: bolder;
        padding-top: 0px;
        font-size: 2em;
        margin-top: 0;
        text-align: justify;
        margin-left:30%;
        color: white;
    }
    .Heading-p3{
        font-family: poppins;
        font-weight: bolder;
        padding-top: 0px;
        font-size: 2em;
        margin-top: 0;
        text-align: justify;
        margin-left:40%;
        color: white;
    }.welcome-content-mid-p2{
        width: 80%;
      
        margin-top: 70px;
        background-color: rgba(26, 88, 116, 0);
        color: black;
        text-align: justify;
        float: left;
        font-size: 0.8em;
        margin-left: 10%;
    }
    .second2-components2{
        width: 10%;
        margin-top:5%;
        background-color: rgba(255, 255, 255, 0);
        color: rgb(29, 11, 190);
        text-align: center;
        float: left;
        margin-left: 8%;
        font-weight: bold;
        font-size: 0.8em;
        font-family: poppins;
    
    }
    .third-content-mid-p1{
        width: 80%;
        margin-top: 5%;
        background-color: rgba(255, 255, 255, 0);
        color: black;
        text-align: center;
        float: left;
        margin-left: 8%;
        font-size: 0.9em;
    } 
     .third-content-h2{
        color: rgb(5, 5, 7);
        font-family: poppins;
        font-weight: bolder;
        padding-top: 0px;
        font-size: 1.5em;
        margin-top: 50%;
        padding-top: 10px;
        text-align: left;
        margin-left: 5%;
    }
    .Heading-safe1{
        margin-right: 40px;
        float: right;
        width: 40%;
        height: 220px;
        background-color: rgba(75, 64, 64, 0.466);
        border-radius: 10px;
       
    }
    
}