body{
    background-color: transparent;
}
.one{
   
}
.dashboad1{
    background: url("../images/school.jpg");
    width: 100%;
    float: left;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;    
}

.rightside{
    width: 80%;
    height: 100%;
    float:  left;
    background-size: 100%;    
    margin-top: -6px;
    background-repeat: no-repeat;
    background-size: 100%;    
    
}
#left-bar-dashboard2{
    color: rgba(243, 243, 243, 0.767);
    background-color: rgba(18, 31, 219, 0.747);
    width: 70%;
    border-radius:  8px  8px 8px  8px;
    margin-right: 10%;
    padding: 20px;
    margin-left: 0%;
    margin-top: 10%;
    text-align: center;
    font-weight: bold;
    font-size:1.4vw;
    margin-bottom: 1em;
    text-decoration: none;
}
#left-bar-dashboard2:hover{
    
    background-color: rgba(64, 131, 207, 0.596);
    color: rgb(0, 0, 0);
}
.left-bar-paths2{
    width: 86%;
    height: 200px;
    margin-top: 20%;
    margin-left: 12%;
    margin-right: 12%;
    
}
#left-bar-button1{
    border-radius:  6px ;
    float: right;
    margin-right: 20%;
    font-weight: bold;
    color: rgb(255, 255, 255);
   background-color: rgba(18, 31, 219, 0.747);
   padding:5% 5% 5% 5%;
   margin-bottom: 6px;
   width: 70%;
   text-align: center;
   font-size:1vw;
}
#left-bar-button1:hover{
    border-radius:  6px ;
    float: right;
    margin-right: 20%;
    font-weight: bold;
    color: black;
   background-color: rgba(57, 129, 223, 0.658);
   padding:5% 5% 5% 5%;
   margin-bottom: 6px;
   width: 70%;
   text-align: center;
   font-size:1vw;
}





.left-dash-img1{
   
    color: black;
    background: url("../images/school.jpg");
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    float: left;
    margin-top: 52%;

    
}

.img1:hover {
    scale: 1.02;
    filter: brightness(0.8);
    transition: scale 300ms ease-in;
  }
.section2-middle-box{
    width: 30%;
    height: 50vh;
    background-color: rgba(53, 28, 28, 0.788);
    margin-left: 10%;
    border-radius: 10px;
}
.section2-middle-h1{
    margin-left: 10%;
    color: rgb(214, 205, 205);
}
.section2-middle-h2{
    color: rgba(67, 67, 228, 0.87);
    margin-left: 10%;
    padding-top: 10%;
    font-size: 2em;
}
.section2-middle-p1{
    color: white;
    margin-left: 10%;
    padding-top: 10%;
}

.section2-middle-p2{
    color: white;
    margin-left: 10%;
    padding-top: 10%;
}
.section1-right-h11{
    color: rgb(0, 0, 0);
     background-color: transparent;
     margin-left: 2%;


}
.section1-right-p1{
   
    margin-left: 10%;
    padding-top: 10px;
    font-size: 2em;
    font-weight: bold;

}
.re-Total1{
    width: 20%;
    height: 80px;
    background-color: rgba(83, 112, 175, 0.747);
    margin-left: 5%;
    background-image: url("../images/groups.png");
    background-repeat: no-repeat;
    background-size: 40%;
    border: 2px solid #000000;
    float: left;
}
.re-to1-p1{
    padding-right:10% ;
    text-align: right;
    color: white;
    padding-top: 1%;
}
.re-to1-p2{
    padding-right:5% ;
    text-align: right;
    color: white;
    font-size: 1em;
}
.re-Total2{
    width: 20%;
    height: 80px;
    background-color: rgba(45, 185, 52, 0.747);
    margin-left: 5%;
    background-image: url("../images/groups.png");
    background-repeat: no-repeat;
    background-size: 40%;
    border: 2px solid #000000;
    float: left;
}
.re-Total3{
    width: 20%;
    height: 80px;
    background-color: rgba(218, 221, 41, 0.747);
    margin-left: 5%;
    background-image: url("../images/groups.png");
    background-repeat: no-repeat;
    background-size: 40%;
    border: 2px solid #000000;
    float: left;
}
.second-content{
  
    background: url("../images/second-content.jpg") no-repeat 0 50%;
    width: 100%;
    float: left;
    height: 600px;
    background-repeat: no-repeat;
    background-size: 100%;

  
}
.reg-name{
    font-size: 1.5em;
    padding-left: 30px;
    margin-top: 30%;
    color: rgb(252, 252, 252);
    font-weight: bold;

}
.section2-middle{
    background-color: rgb(58, 56, 59);
    width: 100%;
    float: left;
    height: 600px;
}
.second2{
    background-color: burlywood;
    width: 100%;
}
.right-content1{
    
  
   
    margin-top: 0%;
    height: 200px;
    width: 100%;
 
    background-color: rgba(3, 3, 3, 0.308);
   
    
}

.leftNev{
    background-color: rgba(0, 0, 0, 0.548);
    width: 18%;
    float: left;
    height: auto;
    padding-bottom: 15em;
    padding-top: 3em;
   
}
@media screen and (max-width: 1268px) {
   
    .leftNev{
        background-color: rgba(15, 14, 15, 0.445);
        width: 20%;
        float: left;
        height: auto;
        padding-bottom: 10em;
    }
    #left-bar-button1{
        border-radius:  6px ;
        float: right;
        margin-right: 20%;
        font-weight: bold;
        color: rgb(255, 255, 255);
       background-color: rgba(18, 31, 219, 0.747);
       padding:5% 5% 5% 5%;
       margin-bottom: 6px;
       width: 70%;
       text-align: center;
       font-size:1.3vw;
    }

}
@media screen and (max-width: 1068px) {
   
    .leftNev{
        background-color: rgba(15, 14, 15, 0.445);
        width: 20%;
        float: left;
        height: auto;
        padding-bottom: 10em;
    }
    #left-bar-button1{
        border-radius:  6px ;
        float: right;
        margin-right: 20%;
        font-weight: bold;
        color: rgb(255, 255, 255);
       background-color: rgba(18, 31, 219, 0.747);
       padding:5% 5% 5% 5%;
       margin-bottom: 6px;
       width: 70%;
       text-align: center;
       font-size:1.5vw;
    }
}





@media screen and (max-width: 768px) {
  
    .leftNev{
        background-color: rgba(15, 14, 15, 0.445);
        width: 100%;
        float: left;
        height: auto;
        padding-bottom: 5px;
    }

 #left-bar-dashboard2{
        color: rgba(243, 243, 243, 0.973);
        background-color: rgba(18, 31, 219, 0.747);
        width: 6em;
        border-radius:  8px  8px 8px  8px;
        float: left;
        padding: 2px;
        margin-left: 0.5em;
        margin-top: -1.5em;
        text-align: center;
        font-weight: bold;
        font-size:1em;
        padding-top: 5px;
        padding-bottom: 5px;
    }
#left-bar-button1{
    margin-right: 0.5em;
         margin-top: -1.3em;
        border-radius:  6px ;
        float: right;
        font-weight: bold;
        color: rgb(255, 255, 255);
       background-color: rgba(18, 31, 219, 0.747);
       padding:5px;
       margin-bottom: 0px;
       width:5em;
       text-align: center;
       font-size:1em;
    }

    #left-bar-button1:hover{
     
        margin-right: 0.5em;
         margin-top: -1.3em;
        border-radius:  6px ;
        float: right;
        font-weight: bold;
        background-color: rgba(64, 131, 207, 0.596);
        color: rgb(0, 0, 0);
       padding:5px;
       margin-bottom: 0px;
       width:5em;
       text-align: center;
       font-size:1em;
    }
    .left-bar-paths2{
      
        background-color: rgb(192, 175, 18);
        margin-top: -200px;
       
    }
}